<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewOne project profile</title>

    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
    {% for profile in profiles %}
    <img class="image" src="{{ profile.picture.url }}" alt="My Image">
    <h1 class="name">{{ profile.name }}</h1>

    <p class="text">Hello! My name is {{ profile.name }}. I am {{ profile.age }} years old and I am from {{ profile.address }}</p>
    <p class="text">I am a software developer. My Experiences are HTML, CSS, Bootstrap, JavaScript, React, Python, Django, Heroku, cloudinary also.</p>


    {% endfor %}

    </div>
</body>
</html>