body {
    background-color: rgb(139, 238, 238);
    
}
.container {
    padding: 100px;
}
.image {
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.name {
    text-align: center;
    color: #3a3938;
}
.text {
    text-align: center;
    color: #233131;
}